<h1><%= current_user.name %>&nbsp;さんのタスク一覧</h1>

<div>
  <%= link_to "新規", new_task_path, class: "btn btn-primary" %>
</div>

<table class="table table-hover">
  <tr>
    <td>名称</td>
    <td>登録日時</td>
    <td></td>
    <td></td>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %></td>
    <td><%= task.created_at %></td>
    <td><%= link_to "編集", edit_task_path(task), class: "btn btn-primary" %></td>
    <td><%= link_to "完了", task, method: :delete, class: "btn btn-danger" %></td>
  </tr>
  <% end %>
</table>